<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Index</title>  
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
<form method="POST" class="post-form" action="/update/{{usuario.idUsuario}}">  
        {% csrf_token %}  
    <div class="container">  
<br>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3>Update Details</h3>  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Usuario id:</label>  
    <div class="col-sm-4">  
        <input type="text" name="idUsuario" id="id_idUsuario" required maxlength="20" value="{{ usuario.idUsuario }}"/>  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Cedula Usuario:</label>  
    <div class="col-sm-4">  
        <input type="text" name="cedula" id="id_cedula" required maxlength="100" value="{{ usuario.cedula }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Nombre usuario:</label>  
    <div class="col-sm-4">  
        <input type="text" name="nombre" id="id_nombre" required maxlength="254" value="{{ usuario.nombre }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Apellido usuario:</label>  
    <div class="col-sm-4">  
        <input type="text" name="apellido" id="id_econtact" required maxlength="15" value="{{ usuario.apellido }}" />  
    </div>  
  </div>
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Celular usuario:</label>  
    <div class="col-sm-4">  
        <input type="text" name="celular" id="id_celular" required maxlength="15" value="{{ usuario.celular }}" />  
    </div>  
  </div>
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Email usuario:</label>  
    <div class="col-sm-4">  
        <input type="email" name="email" id="id_email" required maxlength="15" value="{{ usuario.email }}" />  
    </div>  
  </div>
    
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-success">Update</button>  
    </div>  
  </div>  
    </div>  
</form>  
</body>  
</html>  